{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Clients</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Liste des Clients :</h4>

    {% if messages %}
    <div class="messages">
      <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        {{ message }}
      </div>
    </div>
    {% endif %}
   
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Rechercher un Client ..."
    />
    <table class="table trecherche">
      <thead>
        <th>Code Client</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Crédit</th>
        <th class="hid">Actions</th>
        <th class="hid"></th>
      </thead>
      {% for client in clients %}
      <tbody>
        <tr data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
          <td>{{client.code_client}}</td>
          <td>{{client.nom_client}}</td>
          <td>{{client.prenom_client}}</td>
          <td>{{client.credit_client}}</td>
          <td class="hid">
            <a class="btn btn-secondary" href="{% url 'modifierCl' client.code_client %}">
              Modifier
            </a>
            <a class="btn btn-danger" href="{% url 'supprimerCl' client.code_client %}">
              Supprimer
            </a>
          </td>
          
        </tr>
        {% endfor%}  
       
      </tbody> 

    </table>
    <div style="display: flex;flex-direction: column;align-items: flex-end;">
    <a style="float: right;margin-right: 25px; width: 18%; margin-bottom: 20px;" class="btn btn-primary " href="{% url 'ajouterCl' %}">Ajouter un nouveau Client</a> 
    </div>
  </body>
  <script src="{% static 'javascript/script.js' %}"></script>
</html>
