{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Payment</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="SuppPage">
    <h3>Supprimer un Achat</h3>
    <form method="POST">
        {% csrf_token %}
        <p id="ConfirmationMsg">Voulez vous confirmer l'Achat de :</p>
        <ul class="listeSupp" style="list-style-type: '-'';">
          {% for produit in produits %}
            <li>{{ produit.produit.designation_produit }} - Quantité: {{ produit.quantite }} - Montant: {{ produit.montant_prd }}</li>
          {% endfor %}
        </ul>
        <a id="Annuler" href="{% url 'listeA' %}">Annuler</a>
        <input id="SuppBtn" type="submit" value="Supprimer" />
    </form>
  </div>
  </body>
</html>