<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Fournisseurs</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4>Ajouter un Fournisseur </h4>

    <div class="ADDForm">
      <form  method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btns">
            <input id="Confirm" type="submit" value="Valider">
            <a id="Annuler" href=" {% url 'listeF' %}"> Annuler</a>
          </div>
      </form>
    </div>
    
    <script src="{% static 'javascript/script.js' %}"></script>
</body>



</html>