{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Fournisseurs</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Liste des Fournisseurs :</h4>

    {% if messages %}
    <div class="messages">
      <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        {{ message }}
      </div>
    </div>
    {% endif %}
   
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Rechercher un Fournisseur ..."
    />
    <table class="table trecherche">
      <thead>
        <th>Code_F</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Solde</th>
        <th class="hid">Actions</th>
        <th class="hid"></th>
      </thead>
      {% for fournisseur in fournisseurs %}
      <tbody>
        <tr data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
          <td>{{fournisseur.code_fournisseur}}</td>
          <td>{{fournisseur.nom_fournisseur}}</td>
          <td>{{fournisseur.prenom_fournisseur}}</td>
          <td>{{fournisseur.solde_fournisseur|floatformat:2}}</td>
          <td class="hid">
            <a class="btn btn-secondary" href="{% url 'modifierF' fournisseur.code_fournisseur %}">
              Modifier
            </a>
            <a class="btn btn-danger" href="{% url 'supprimerF' fournisseur.code_fournisseur %}">
              Supprimer
            </a>
          </td>
          
        </tr>
        {% endfor%}  
       
      </tbody> 

    </table>
    <div style="display: flex;flex-direction: column;align-items: flex-end;">
    <a style="float: right;margin-right: 25px; width: 18%; margin-bottom: 20px;" class="btn btn-primary " href="{% url 'ajouterF' %}">Ajouter un nouveau Fournisseur</a> 
    <button onclick="printPage()" style="background-color: purple;float: right;margin-right: 25px; width: 18%;margin-bottom: 20px;" id="print-button" class="btn btn-primary" >Imprimer</button>
    </div>
  </body>
  <script src="{% static 'javascript/script.js' %}"></script>
</html>
