{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Produits</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h3>Modifier un produit</h3>
    <div class="EDITForm">
    <form method="POST">
      {% csrf_token %} {{ form.as_p}}
      <div class="btns">
        <input id="Confirm" type="submit" value="Modifier" />
        <a id="Annuler" href=" {% url 'listeP' %}"> Annuler</a>
      </div>
    </form>
    </div>
  </body>

  <script src="{% static 'javascript/script.js' %}"></script>

</html>
