{% load static %}

  <nav>
    <ul class="favorite-tabs">
     
   <span class="dropdown">
        <li id="nav" data-bs-toggle="dropdown" aria-expanded="false">Gestion</li>
        <ul class="dropdown-menu">
          <li onclick="window.location.href='/centres'">Centres</li>
          <li onclick="window.location.href='/produits'">Produits</li>
          <li onclick="window.location.href='/employes'">Employes</li>
          <li onclick="window.location.href='/fournisseurs'">Fournisseurs</li>
          <li onclick="window.location.href='/clients'">Clients</li>
        </ul>
      </span>

      <span class="dropdown">
        <li id="nav" data-bs-toggle="dropdown" aria-expanded="false">Achat</li>
        <ul class="dropdown-menu">
          <li onclick="window.location.href='/achats/ajouter'">Nouvel Achat</li>
          <li onclick="window.location.href='/achats'">Liste Achats</li>
          <li onclick="window.location.href='/reglement'">Règlement</li>
        </ul>
      </span>
      
      <span class="dropdown">
        <li id="nav" data-bs-toggle="dropdown" aria-expanded="false">Transfert</li>
        <ul class="dropdown-menu">
          <li onclick="window.location.href='/'">Nouveau Transfert</li>
          <li onclick="window.location.href='/'">Liste Transferts</li>
        </ul>
      </span>

      <span class="dropdown">
        <li id="nav" data-bs-toggle="dropdown" aria-expanded="false">Vente</li>
        <ul class="dropdown-menu">
          <li onclick="window.location.href='/'">Nouvelle Vente</li>
          <li onclick="window.location.href='/'">Liste Ventes</li>
          <li onclick="window.location.href='/'">Paiement Crédit</li>
        </ul>
      </span>

      <li id="nav" onclick="window.location.href='/'">Stock</li>

    </ul>
  </nav>
</body>
