{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Stock Centre {{c.code_centre}}</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Produits en Stock du Centre {{c.code_centre}} </h4>
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Rechercher un Produit ..."
    />
    
    <table class="table trecherche">
      <thead>
        <th>N°</th>
        <th>Nom</th>
        <th>Prix d'Achat</th>
        <th>Qte en Stock</th>
      </thead>
      {% for sc in sc %}
      <tbody>
        <tr data-aos="fade-right" data-anchor-placement="center-center">
            <td>{{sc.produit.code_produit}} </td>
            <td> 
                {{sc.produit.designation_produit}}
            </td>
            <td> 
              {{sc.produit.prix_achat_unitaire_HT}}
            </td>
            <td>
                {{sc.qteDispo}}
            </td>
          </tr>
        {% endfor%}  
      </tbody> 
    </table>
    <div style="display: flex;flex-direction: column;align-items: flex-end;">
    <button style="background-color: purple;float: right;margin-right: 25px; width: 18%;margin-bottom: 20px;" id="print-button" class="btn btn-primary" >Imprimer</button>
    </div>
    <h3 class="display-5 d-inline">Valeur Totale du Stock du Centre {{c.code_centre}} : <strong>{{v}}</strong> DA </h3>
  </body>
</html>