<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Produits</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4>Ajouter un Produit </h4>

    <div class="ADDForm">
      <form method="POST">
        {% csrf_token %} {{ form.as_p}}
        <div class="btns">
          <input id="Confirm" type="submit" value="Modifier" />
          <a id="Annuler" href=" {% url 'listeP' %}"> Annuler</a>
        </div>
      </form>
    </div>
    
    <script src="{% static 'javascript/script.js' %}"></script>
</body>



</html>