{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>

    <title>Reglement</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Liste des Clients :</h4>

    {% if messages %}
    <div class="messages">
      <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        {{ message }}
      </div>
    </div>
    {% endif %}
   
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Rechercher un Client ..."
    />
    <table class="table trecherche">
      <thead>
        <th>Nom</th>
        <th>Paiements</th>
        <th>Credits</th>
        <th>Etat</th>
        <th class="hid">Actions</th>
        <th class="hid"></th>
      </thead>
      {% for c in clients %}
      <tbody>
        <tr data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
          <td>{{c.nom_client}} {{c.prenom_client}}</td>
          <td>{% for p in pays %}
            {% if p.client.code_client == c.code_client %}
            N°{{ p.numero_paiement_credit_client }} : {{ p.montant_paiement_credit_client }}DA <br>
            {% endif %}
            {% endfor%}  
          </td>
          <td>{{c.credit_client|floatformat:2}} DA</td>
          {% if c.credit_client > 0.001 %}
            <td class="badge bg-danger">Non Payé</td>
            <td class="hid">
              <a class="btn btn-secondary" href="{% url 'paiementCC' c.code_client %}">
                Payement
              </a>
            </td>
          {% else %}
            <td class="badge bg-success">Payé</td>
          {% endif %}
        </tr>
        {% endfor%}  
      </tbody>
    </table>
    <div style="display: flex;flex-direction: column;align-items: flex-end;">
    <button style="background-color: purple;float: right;margin-right: 25px; width: 18%;margin-bottom: 20px;" id="print-button" class="btn btn-primary" >Imprimer</button>
    </div>
  </body>
</html>
