{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>

    <title>Credits</title>
  </head>
  <body>
    {% include 'header.html' %}

    <h3>Paiement</h3>
    <form method="POST">
      {% csrf_token %}
      <p>
        <strong> {{c.nom_client}} {{c.prenom_client}}</strong> va payer ses Crédits (Montant restant à payer :<strong> {{c.credit_client|floatformat:2}} DA</strong>) <br />
      </p>
      {{form.as_p}}
      Montant : <input
        name="montant_paye"
        type="number"
        value="{{c.credit_client|floatformat:2}}"
        max="{{c.credit_client}}"
        min="1"
        step="0.01"
      />

        <br/><br/>
      <a href="{% url 'listeCrds' %}" class="btn btn-danger">Annuler</a>
      <input  type="submit" value="Payer" />
    </form>
  </body>
</html>
