{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Liste Ventes</title>
  </head>
  <body>
    {% include 'header.html' %}
    <h4 class="display-5 d-inline">Liste des Ventes</h4>
    <input
    class="hid search"
      type="text"
      id="myInput"
      onkeyup="SearchBar()"
      placeholder="Par Fournisseur ..."
    />
    <table class="table trecherche">
      <thead>
        <th>N°</th>
        <th>Client</th>
        <th>Montant Brut</th>
        <th>Bénéfice</th>
        <th>Date Vente</th>
        <th class="hid">Actions</th>
      </thead>
      {% for v in ventes %}
      <tbody>
        <tr data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
          <td>{{v.numero_vente}}</td>
          <td>{{v.client.nom_client}} {{v.client.prenom_client}}</td>
          <td>{{v.montant_total_vente|floatformat:2}} DA</td>
          <td>{{v.benefice_vente|floatformat:2}} DA</td>
          <td>{{v.date_vente}}</td>
          <td class="hid">
            <a class="btn btn-danger" href="{% url 'supprimerV' v.numero_vente %}">Delete</a>
          </td>
        </tr>
        {% endfor%} 
        <tr> 
            <td colspan="1"></td>
            <td>Total brut :</td>
            <td>{{ montant_total_global|floatformat:2 }} DA</td>
            <td class="hid"></td>
        </tr>
      </tbody> 
    </table>
    <h3 class="display-5 d-inline">Bénéfice des ventes du Magasin : <strong>{{benefice|floatformat:2}}</strong> DA </h3>
    <div style="display: flex;flex-direction: column;align-items: flex-end;">
    <a style="float: right;margin-right: 25px; width: 18%; margin-bottom: 20px;" class="btn btn-primary " href="{% url 'ajouterV' %}">Ajouter une nouvelle Vente</a>
    <button style="background-color: purple;float: right;margin-right: 25px; width: 18%;margin-bottom: 20px;" id="print-button" class="btn btn-primary" >Imprimer</button>
    </div>
  </body>
</html>
